.socket
  width 100%

.s-input
  display flex
  align-items center
  position fixed
  bottom 0
  width 100%
  line-height 40rpx
  font-size 28rpx 
  background-color #f1f1f1 

.s-chat
  width 100%
.sc-row
  display flex
  align-items center
  &.posRight
    justify-content: flex-end
    .scr-cont
      order: -1
